/*  Tools */
.boda1{
    border: 2px solid black;
}
.boda2{
    border: 2px solid  white;
}
.boda21{
    border: 2px solid  rgb(255, 255, 255, 0.5);
}
.boda3{
    border: 2px solid red;
}
.boda4{
    border: 2px solid yellow;
}
.boda5{
    border: 2px solid green;
}

/* VARIABLES */

/* colors */
:root{
    --dark : rgb(5, 1, 27);
    --light: #ffffff;
    /* --green: #7be495; */
    --green: #b8f5c7;
    --grey: #4e586e;

    --btn1: #00e0c7;
    --btn2: #2bc4c4;
    --btn3: #14afb4;
    --btn4: #0ec6e2;
    --btn5: #458e99;
    --btn6: #25e0c7;

    --card1: #11334d;
    --card2: #1a1c2e;
}


/* UNIVERSALS */
.round-10{
    border-radius: 10px;
}
.round-20{
    border-radius: 20px;
}
a{
    color: unset;
    text-decoration: none;
}
.jac{
    justify-content: center;
    align-items: center;
}
.jat{
    justify-content: space-evenly;
    align-items: center;
}
.jaa{
    justify-content: space-around;
    align-items: center;
}
.ja{
    align-items: center;
}
.coll{
    flex-direction: column;
}
.green{
    color: var(--green);
}
.dim{
    color: rgb(255, 255, 255, 0.7);
}
.dark{
    color: var(--card2);
}
.right{
    text-align: right;
}
.err{
    height: 40vh;
    width: 40vw;
    font-size: xx-large;
}
.err-holder{
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: var(--light);
}
/* Spinner */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid rgb(9, 1, 59); /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.spin-holder{
    height: 105vh;
    width: 98.5vw;
    position: absolute;
    top: 20%;

}
.spin-box{
    background-color: rgba(7, 2, 39, 0.6);
}


/* BODY */
body{
    background-color: var(--dark)
}
.holder{
    width: 100%;
    background-color: var(--dark);
    color: var(--light);
}
.home-main{
    background-color: var(--card2);
    
}
.card{
    padding: 5px;
    /* color: rgb(68, 50, 92)!important; */
    color: var(--light)!important;
    font-weight: bold;

}
.myform{
    background-color: var(--light);
}



.walletBtn{
    color: var(--dark);
    background-color: var(--light);
    padding: 10px;
    width: 50%;
    box-shadow: inset 0 0 15px var(--dark);
}
.walletBtn:hover{
    box-shadow: inset 0 0 15px var(--light);
}
.icon{
    margin-right: 30px;
}

.box1{
    background-color: var(--btn1);
}
.box2{
    background-color: var(--btn2);
}
.box3{
    background-color: var(--btn3);
}
.box4{
    background-color: var(--btn4);
}
.box5{
    background-color: var(--btn5);
}
.box6{
    background-color: var(--btn6);
}

.btn{
    display: block;
    width: 100%;
}

/* Id page */


@media (max-width: 767px) {
    .walletBtn{
        width: 80%;
    }
}
@media (max-width: 467px) {
    .walletBtn{
        width: 100%;
    }
}
@media (min-width: 768px){
    .myform{
        width: 50%;
    }
}
@media (min-width: 438px){

    #btn{
        width: 50%;
    }
}
